@tailwind base;
@tailwind components;
@tailwind utilities;

button, [type="button"], [type="reset"], [type="submit"] {
  @apply text-base font-bold rounded-md py-1 px-3 hover:bg-violet-300 border-violet-900;
}
button.primary {
  @apply bg-violet-800 text-violet-100 hover:bg-violet-900 hover:text-white disabled:bg-violet-500 disabled:text-violet-300 disabled:border-violet-600;
}

.error {
  @apply text-red-800 font-bold;
}

input {
  @apply border-violet-800;
}
