<!-- -*- web -*-
Copyright 2021 Hubert Chathi <hubert@uhoreg.ca>
Copyright 2022 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

SPDX-License-Identifier: Apache-2.0
-->

<script lang="ts">
  import Request from "./Request.svelte";
  import TestMessage from "./TestMessage.svelte";
  import type { Client } from "./client";
  import type { IMessage, IRequest } from "./types";

  export let client: Client;
  export let roomId: string;
  export let name: string;
  export let topic: string | undefined;
  export let status: number;
  export let messages: IMessage[];
  export let requests: Record<string, IRequest>;
  export let requestOrder: string[];
  export let open = true;
  let tab = 0;
</script>

<details bind:open={open}>
  <summary>{#if status === 1}<span class="mr-2">✅</span>{:else if status === -1}<span class="mr-2">❌</span>{:else if status === -2}<span class="mr-2">🛑</span>{/if}<span class="name">{name}</span></summary>

  {#if topic}
  <div class="topic mb-2">
    {#each topic.split("\n") as par}
    <div>{par}</div>
    {/each}
  </div>
  {/if}

  <div class="tabs space-x-1">
    <button type=button on:click={() => tab = 0} disabled={tab === 0}>Log</button><button type=button on:click={() => tab = 1} disabled={tab === 1}>Requests</button>
  </div>

  {#if tab === 0}
    <div class="divide-y divide-violet-900">
    {#each messages as message (message.eventId)}
    <div class="py-3">
      <TestMessage client={client} roomId={roomId} message={message} bind:testOpen={open}/>
    </div>
    {/each}
    </div>
  {:else if tab === 1}
    <div class="divide-y divide-violet-900">
    {#each requestOrder as requestId}
    <div class="py-3">
      <Request {...requests[requestId]}/>
    </div>
    {/each}
    </div>
  {/if}
</details>

<style>
  details {
    @apply rounded-md border border-violet-900 pt-2 pb-1 px-3 bg-white/50;
  }
  summary {
    @apply cursor-pointer mb-2;
  }
  .tabs {
    @apply border-b border-violet-900;
  }
  .tabs > button {
    border-style: solid solid none solid;
    @apply font-normal border-violet-900 bg-violet-300 rounded-t-md rounded-b-none text-black mb-0 text-black hover:bg-violet-200;
  }
  .tabs > button[disabled] {
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    @apply bg-inherit text-inherit hover:bg-inherit;
  }
</style>
